/* 页面元素初始化和常用样式定义-start */
/*======== 全局 ========*/
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,th,td{margin: 0;padding: 0;}
body{background: #fff;font-size: 12px; color: #666; font-family:arial,microsoft yahei,verdana, simsun;}
/*table{border-collapse: collapse; border-spacing: 0;}*/
fieldset,img{border: none; vertical-align:middle;}
ol,ul{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
em{font-style: normal;}
input,button,select,textarea{font-family:arial,microsoft yahei,verdana, simsun;}
/*禁止了文本框的拖拉*/
textarea{resize: none;}
/*使文本段落左右两边对齐*/
p{text-align: justify;text-justify: distribute;}
/*link*/
a{text-decoration: none;}
a:hover{color: #ea5407;text-decoration: none;}
/*浮动*/
.fl{float: left;}
.fr{float: right;}
/*清除浮动*/
.clr{*zoom: 1;}
.clr:after{clear: both; display: table; content: "";}
/* 页面元素初始化和常用样式定义-end */
