body{
	width: 1002px;
	margin: 0 auto;
	font-size: 20px;
	background: #f1f1f1;
}

.aa{
	font-size: 22px;
	
}
.bt{
	color:#9c2f06;
	line-height:30px;
}

.nav{
	position: relative;
}

.nav a{
	position: absolute;
	top: 20px;
	right: 20px;
}

.clr img{vertical-align:middle; float: left;}

.clr{
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin: 0 auto;
}

.b1{
	position: relative;
	margin-top: 30px;
}

.b1 p{
	position: absolute;
	left: 560px;
}

.b1 img{
	margin-top: 20px;
}

.footer-b{
	width: 100%;
	height: 120px;
	background: #fff;
	margin-top: 350px;
	font-size: 16px;
}

.footer-b .f-c:hover{
	color: #fd9500;
}